html {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#main-footer {
  font-family: "Roboto", sans-serif;
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("../assets/img/image.jpg");
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}

#main-body {
  max-width: 100%;
  padding: 0;

  font-family: "Noto Sans KR", sans-serif;
  min-height: 90vh;
}

.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

// CkEditor5 Setting
.ck {
  .ck-editor {
    min-width: 100%;
  }
}

.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}
.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}

//textarea 가장자리 모양 안보이게 하기
textarea {
  resize: none;
}

.my_category {
  &:last-child {
    margin-bottom: 0.25rem;
  }
}

.mainSection {
  height: 100%;
  background-color: #ece7e3;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

article {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 17em;
  color: rgba($color: #efd2c0, $alpha: 0.5);
  cursor: pointer;
  transition: 0.25s ease;
}

.left {
  left: 0.6em;
  margin-left: 0;
}
.left:hover {
  margin-left: -25px;
  transform: scaleX(-20px);
  color: rgba($color: #efd2c0, $alpha: 1);
}

.right {
  right: 0.6em;
  margin-right: 0;
}

.right:hover {
  margin-right: -25px;
  transform: scaleX(-20px);
  color: rgba($color: #efd2c0, $alpha: 1);
}

//menu

.navbar-collapse {
  position: relative;
}

.menuHome,
.gitHubIcon {
  font-size: 1.3em;
}

.gitHubIcon {
  margin-right: 5px;
  cursor: pointer;
}
.gitHub {
  display: inline-block;
  position: absolute;
  right: 0;
  z-index: 100;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #2e2e2e;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s ease;
}

.gitHub:hover {
  color: #c37f56;
}
.sticky-top {
  position: fixed;
  width: 100%;
  background: #ece7e3 !important;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.navbar-dark .navbar-nav .nav-link {
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link a {
  color: #2e2e2e;
  text-decoration: none;
  transition: 0.25s ease;
  cursor: pointer;
  font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link a.on,
.navbar-dark .navbar-nav .nav-link a:hover {
  color: #c37f56;
}

.navbar-dark .navbar-nav .nav-link a.on .menuHome {
  color: #2e2e2e;
  transition: 0.25s ease;
}

.navbar-dark .navbar-nav .nav-link a:hover .menuHome {
  color: #c37f56;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d6a994;
}

.mainContainer {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  max-width: 100%;
}

.container1 {
  height: 100vh;
}

//Home(first page)
.scrollDown {
  position: absolute;
  right: 0;
  height: 1px;
  bottom: 20%;
}
.scrollDown::after {
  content: "";
  display: block;
  clear: both;
  width: 1px;
  height: 200px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.scrollDown .text {
  display: block;
  transform: rotate(90deg);
  background: #ece7e3;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
}
// section
.sectionCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.mainBgSvg {
  position: absolute;
  top: 55%;
}
.svg2 {
  padding-left: -50px;
}

//title
.titleWrap {
  position: relative;
  z-index: 100;
  text-align: center;
}
.titleWrap p {
  letter-spacing: -0.5px;
  font-size: 1em;
  color: #605f5f;
}
.mainTitle {
  padding: 30px 40px;
  text-align: center;
  background-color: #fff;
}

.mainTitle span {
  display: block;
  overflow: hidden;
}

.titleName1 {
  height: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5em;
  animation-name: main1;
  animation-duration: 0.3s;
  animation-duration: cubic-bezier(0, 0.55, 0.45, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
}
@keyframes main1 {
  0% {
    height: 0;
  }
  100% {
    height: 80px;
  }
}

.titleName2 {
  height: 0;
  border-top: 1px solid #929292;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 3em;
  animation-name: main2;
  animation-duration: 0.6s;
  animation-duration: cubic-bezier(0, 0.55, 0.45, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
}
@keyframes main2 {
  0% {
    height: 0;
  }
  100% {
    height: 130px;
  }
}

.blob-gradient {
  fill: rgba($color: #e6bca3, $alpha: 0.46);
}

//Portfolio(Second page)
.cardWrap {
  height: 100%;
  padding: 0 20px;
}

.card-body {
  padding: 0;
  overflow: hidden;
  width: 50%;
}

.card {
  max-width: 1250px;
  margin: auto;
  height: 100%;
  flex-direction: row;
  border-radius: inherit;
  border: none;
}

.card-img-top {
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-title {
  position: absolute;
  top: -13%;
  left: -3%;
  font-size: 12em;
  color: #fff;
  font-family: "Trochut", cursive;
  font-weight: 900;
}

.card-subtitle {
  margin: 0;
  padding-bottom: 25px;
  color: #222 !important;
  font-size: 3.1em;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
  border-bottom: 3px solid #222;
}

.cardSubTitle {
  font-size: 0.7em;
  margin-left: 10px;
  color: #aaa;
}

.cardExplan {
  padding: 70px 36px;
  box-sizing: border-box;
}

.card-text {
  margin-top: 30px;
  margin-bottom: 25px;
}

.cardList {
  display: flex;
  width: calc(50% - 72px);
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 36px;
  bottom: 90px;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}

.cardList li {
  list-style: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1.3em;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.cardLink {
  position: relative;
  color: #b77d62;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.cardLink::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: #b77d62;
  transition: width 0.25s ease;
}

.cardLink:hover {
  color: #b77d62;
}

.cardLink:hover::after {
  width: 100%;
}

.visitSite {
  padding: 0.375rem 1.3rem;
  border: 1px solid #939393;
  border-radius: 0;
  background: #fff;
  color: #222;
  font-family: "Merriweather Sans";
  font-size: 1.2em;
  letter-spacing: 0;
}

.visitSite:hover {
  background-color: hsl(19, 51%, 69%);
  border-color: hsl(19, 51%, 69%);
}

.btnArrow {
  font-size: 1.3em;
  margin-left: 10px;
}

//About(thirdPage)
.AboutWrap {
  box-sizing: border-box;
  padding-top: 57px;
}

.About {
  margin: 20px;
}

.AboutTitle {
  font-family: "Roboto", sans-serif;
}

.AboutTitle .color {
  font-size: 0.7em;
  color: #b77d62;
  letter-spacing: -1px;
  font-family: "Noto Sans KR", sans-serif;
}

.AboutList {
  padding: 0;
  margin: 0;
  list-style: none;
  letter-spacing: -0.5px;
}

.AboutListTitle {
  font-weight: 400;
  color: #222;
  text-decoration: none;
}
