@import "mediaQuery.scss";

html {
  width: 100%;
}
a:hover {
  cursor: pointer;
}
body {
  height: 100%;
  width: 100%;
}

//color
$color-black1: #2e2e2e;
$color-black2: #222;
$color-bg1: #ece7e3;
$color-point1: #c37f56;
$color-point2: #b77d62;
$color-point3: #efd2c0;
$color-grey: #ccc;

//font
$font-Roboto: "Roboto", sans-serif;
$font-NotoSans: "Noto Sans KR", sans-serif;
$font-Merriweather: "Merriweather Sans", sans-serif;
$font-Trochut: "Trochut", cursive;

#main-footer {
  font-family: $font-Roboto;
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("../assets/img/image.jpg");
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}

#main-body {
  max-width: 100%;
  padding: 0;
  font-family: $font-NotoSans;
  min-height: 90vh;
}

.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

// CkEditor5 Setting
.ck {
  .ck-editor {
    min-width: 100%;
  }
}

.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}
.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}

//textarea 가장자리 모양 안보이게 하기
textarea {
  resize: none;
}

.my_category {
  &:last-child {
    margin-bottom: 0.25rem;
  }
}

.mainSection {
  height: 100%;
  background-color: $color-bg1;
  overflow: hidden;
}

.App {
  font-family: $font-NotoSans;
  text-align: center;
}

article {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

//menu
.menuIcon {
  color: $color-black2;
  font-size: 1em;
}
.menuIconWrap {
  padding: 0.25rem 0.25rem;
  &:focus {
    box-shadow: none;
    color: $color-point1;
  }
}

.navbar-collapse {
  position: relative;
}

.menuHome,
.gitHubIcon {
  font-size: 1.3em;
}

.gitHubIcon {
  position: relative;
  top: 1px;
  margin-right: 5px;
  cursor: pointer;
}
.gitHub {
  display: inline-block;
  position: absolute;
  right: 0;
  z-index: 100;
  font-weight: bold;
  font-family: $font-Roboto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: $color-black1;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s ease;
  &:hover {
    color: $color-point1;
  }
  @include response(tablet) {
    top: 0.8rem;
  }
  @include response(mobile) {
    top: 0.6rem;
    font-size: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.sticky-top {
  position: fixed;
  width: 100%;
  background: $color-bg1 !important;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  @include response(mobile) {
    padding: 5px 0;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $color-black1;
  font-family: $font-Roboto;
  font-weight: 400;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  @include response(tablet) {
    &:first-child {
      padding-top: 20px;
    }
  }
  @include response(mobile) {
    padding: 5px 10px;
    &:first-child {
      padding-top: 10px;
    }
    &:last-child {
      padding-bottom: 10px;
    }
  }
}

.navbar-dark .navbar-nav .nav-link a {
  color: $color-black1;
  text-decoration: none;
  transition: 0.25s ease;
  font-weight: 500;
  &.on,
  &:hover {
    color: $color-point1;
  }
  @include response(mobile) {
    font-size: 15px;
  }
}

.navbar-dark .navbar-nav .nav-link a.on .menuHome {
  color: $color-black1;
  transition: 0.25s ease;
}

.navbar-dark .navbar-nav .nav-link a:hover .menuHome {
  color: $color-point1;
}

.mainContainer {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  max-width: 100%;
}

.full-page {
  position: relative;
  height: 100vh;
  transition: top 1.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.container1 {
  height: 100vh;
}

//Home(first page)
.scrollDown {
  position: absolute;
  right: 0;
  height: 1px;
  bottom: 20%;
  &::after {
    position: relative;
    top: 40px;
    content: "";
    display: block;
    clear: both;
    width: 1px;
    height: 200px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  @include response(tablet, mobile) {
    display: none;
  }
}
.scrollDown .text {
  display: block;
  transform: rotate(90deg);
  padding: 0 10px;
  font-family: $font-Roboto;
}
// section
.sectionCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.mainBgSvg {
  position: absolute;
  top: 55%;
  height: 100vh;
  overflow: hidden;
  @include response(mobile) {
    top: 40%;
  }
}
.svg2 {
  padding-left: -50px;
}

//title
.titleWrap {
  position: relative;
  z-index: 100;
  text-align: center;
}
.titleWrap p {
  letter-spacing: -0.5px;
  font-size: 1em;
  color: #605f5f;
  @include response(mobile) {
    font-size: 14px;
  }
}
.mainTitle {
  padding: 30px 40px;
  text-align: center;
  background-color: #fff;
  @include response(tablet) {
    padding: 25px 35px;
  }
  @include response(mobile) {
    padding: 15px 20px;
  }
}

.mainTitle span {
  display: block;
  overflow: hidden;
}

.titleName1 {
  height: 0;
  font-family: $font-Merriweather;
  font-size: 1.5em;
  animation-name: main1;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  @include response(tablet) {
    font-size: 1.3em;
  }
  @include response(mobile) {
    font-size: 1em;
  }
}
@keyframes main1 {
  0% {
    height: 0;
  }
  100% {
    height: 80px;
  }
}

@include response(tablet) {
  @keyframes main1 {
    0% {
      height: 0;
    }
    100% {
      height: 60px;
    }
  }
}
@include response(mobile) {
  @keyframes main1 {
    0% {
      height: 0;
    }
    100% {
      height: 1.3em;
    }
  }
}

.titleName2 {
  height: 0;
  border-top: 1px solid #929292;
  font-family: $font-Merriweather;
  font-size: 3em;
  animation-name: main2;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
  @include response(tablet) {
    font-size: 2.6em;
  }
  @include response(mobile) {
    font-size: 1.5em;
  }
}
@keyframes main2 {
  0% {
    height: 0;
  }
  100% {
    height: 130px;
  }
}

@include response(tablet) {
  @keyframes main2 {
    0% {
      height: 0;
    }
    100% {
      height: 100px;
    }
  }
}

@include response(mobile) {
  @keyframes main2 {
    0% {
      height: 0;
    }
    100% {
      height: 1.1em;
    }
  }
}

.blob-gradient {
  fill: rgba($color: #e6bca3, $alpha: 0.46);
}

//Portfolio(Second page)
.portfoiloWrap {
  padding: calc(10em + 56px) 0 10em;
  @include response(mobile) {
    padding: calc(50px + 43px) 0 50px;
  }
}

.cardWrap {
  height: 100%;
  padding: 0 40px;
  @include response(mobile) {
    padding: 0 20px;
  }
}

.card-body {
  padding: 0;
  overflow: hidden;
  width: 50%;
  @include response(tablet, mobile) {
    width: 100%;
  }
}

.card {
  max-width: 1250px;
  margin: auto;
  height: 100%;
  flex-direction: row;
  border-radius: inherit;
  border: none;
  @include response(tablet, mobile) {
    display: block;
  }
}

.imgWrap {
  @include response(tablet, mobile) {
    height: 100px;
  }
}

.card-img-top {
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-title {
  position: absolute;
  top: -13%;
  left: -3%;
  font-size: 12em;
  color: #fff;
  font-family: $font-Trochut;
  font-weight: 900;
  @include response(tablet) {
    font-size: 11em;
  }
  @include response(mobile) {
    top: 10px;
    left: 10px;
    font-size: 60px;
    line-height: 60px;
  }
}

.card-subtitle {
  margin: 0;
  padding-bottom: 25px;
  color: $color-black2 !important;
  font-size: 3.1em;
  font-family: $font-Roboto;
  font-weight: 500;
  letter-spacing: -1px;
  border-bottom: 3px solid $color-black2;
  @include response(tablet) {
    padding-bottom: 15px;
    font-size: 2.5em;
  }
  @include response(mobile) {
    padding-bottom: 10px;
    font-size: 25px;
  }
}

.cardSubTitle {
  font-family: $font-NotoSans;
  letter-spacing: -2px;
  font-size: 0.7em;
  margin-left: 10px;
  color: #aaa;
  @include response(tablet) {
    font-size: 0.6em;
  }
  @include response(mobile) {
    margin-left: 5px;
    font-size: 16px;
  }
}

.cardExplan {
  padding: 70px 36px;
  box-sizing: border-box;
  @include response(tablet) {
    padding: 50px;
  }
  @include response(mobile) {
    padding: 30px;
  }
}

.card-text {
  margin-top: 30px;
  margin-bottom: 25px;
  @include response(tablet) {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  @include response(mobile) {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.cardList {
  display: flex;
  width: calc(50% - 72px);
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 36px;
  bottom: 90px;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  @include response(tablet) {
    width: calc(100% - 72px);
    bottom: 60px;
  }
  @include response(mobile) {
    padding: 7px 0;
    width: calc(100% - 72px);
    bottom: 40px;
  }
}

.cardList li {
  list-style: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1.3em;
  letter-spacing: 0;
  font-family: $font-Roboto;
  font-weight: 400;
  @include response(tablet) {
    font-size: 1.2em;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @include response(mobile) {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.cardLink {
  position: relative;
  color: $color-point2;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: $color-point2;
    &::after {
      width: 100%;
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: $color-point2;
    transition: width 0.25s ease;
  }
}

.arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 17em;
  color: rgba($color: $color-point3, $alpha: 0.5);
  cursor: pointer;
  transition: 0.25s ease;
  @include response(tablet) {
    top: 50%;
    font-size: 60px;
    background-color: $color-black2;
    color: #fff;
  }
  @include response(mobile) {
    font-size: 30px;
  }
}

.left {
  left: 0.6em;
  margin-left: 0;
  &:hover {
    margin-left: -25px;
    transform: scaleX(-20px);
    color: rgba($color: $color-point3, $alpha: 1);
  }
  @include response(pc) {
    left: 0.3em;
  }
  @include response(pc2) {
    left: 20px;
  }
  @include response(tablet, mobile) {
    &:hover {
      margin-left: 0;
      transform: scaleX(0px);
      color: $color-point2;
      background: $color-point3;
    }
  }
  @include response(mobile) {
    left: 10px;
  }
}

.right {
  right: 0.6em;
  margin-right: 0;
  &:hover {
    margin-right: -25px;
    transform: scaleX(-20px);
    color: rgba($color: $color-point3, $alpha: 1);
  }
  @include response(pc) {
    right: 0.3em;
  }
  @include response(pc2) {
    right: 20px;
  }
  @include response(tablet, mobile) {
    &:hover {
      margin-right: 0;
      transform: scaleX(0px);
      color: $color-point2;
      background: $color-point3;
    }
  }
  @include response(mobile) {
    right: 10px;
  }
}

.visitSite {
  padding: 0.375rem 1.3rem;
  border: 1px solid #939393;
  border-radius: 0;
  background: #fff;
  color: $color-black2;
  font-family: $font-Merriweather;
  font-size: 1.2em;
  letter-spacing: 0;
  &:hover {
    background-color: hsl(19, 51%, 69%);
    border-color: hsl(19, 51%, 69%);
  }
  @include response(mobile) {
    font-size: 14px;
    padding: 0.35rem 1rem;
  }
}

.btnArrow {
  font-size: 1.3em;
  margin-left: 10px;
}

//career(thirdPage)
#Career {
  background: #ece7e3;
  padding: 0 40px;
  @include response(mobile) {
    padding: 0 20px;
  }
}
.careerWrap {
  height: 100%;
  max-width: 1250px;
  box-sizing: border-box;
  padding: 7em 0;
  margin: auto;
  @include response(mobile) {
    padding: calc(30px + 43px) 0 30px;
  }
}

.career {
  position: relative;
  height: 100%;
  background: #b09582;
  @include response(tablet, mobile) {
    background: none;
  }
}

.careerBg {
  width: 50%;
  padding: 30px 40px;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  overflow: auto;
  @include response(tablet) {
    width: 100%;
    overflow: auto;
  }
  @include response(mobile) {
    padding: 20px 30px;
    font-size: 14px;
  }
}

.careerTitle {
  font-family: $font-Merriweather;
  border-bottom: 1px solid $color-grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.careerTitle .color {
  font-size: 0.7em;
  color: $color-point2;
  letter-spacing: -1px;
  font-family: $font-NotoSans;
}

.careerList {
  padding: 0;
  margin: 0;
  list-style: none;
  letter-spacing: -0.5px;
}

.careerList li {
  margin-bottom: 2px;
}

.careerListTitle {
  font-weight: 400;
  color: $color-black2;
  text-decoration: none;
  transition: 0.25s ease;
  &:hover {
    color: $color-point2;
  }
  @include response(tablet, mobile) {
    &:hover {
      color: $color-black2;
    }
  }
}

.careerDetails {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  padding: 60px;
  height: 100%;
  transform: translateY(-50px);
  transition: 0.5s ease;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li.active .careerDetails {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
  @include response(tablet, mobile) {
    visibility: hidden;
  }
}

.careerDetails p {
  margin-bottom: 0;
}

.careerWarp2 {
  border: 6px double rgba($color: #fff, $alpha: 0.5);
  padding: 50px;
  @include response(tablet, mobile) {
    visibility: hidden;
  }
}

.careerWarp .title {
  margin-bottom: 13px;
  line-height: 1.4em;
}

.date {
  margin-top: 2px;
  letter-spacing: 0;
}

.careerList .icon {
  position: relative;
  top: -1px;
  margin-right: 10px;
  font-size: 0.7em;
  color: rgba($color: $color-point1, $alpha: 0.5);
}

//lastpage(About)
#About {
  background-color: #fff;
  overflow: auto;
  @include response(mobile) {
    padding: calc(30px + 56px) 20px 0;
  }
}

.about {
  height: 100%;
  max-width: 1250px;
  box-sizing: border-box;
  padding: calc(7em + 56px) 40px 0;
  margin: auto;
  text-align: center;
  @include response(mobile) {
    padding: 0;
  }
}

.aboutTitle {
  font-size: 3em;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-grey;
  @include response(mobile) {
    font-size: calc(1.3rem + 0.6vw);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.aboutTitle,
.aboutSubTitle {
  font-family: $font-Merriweather;
}
.aboutTitle {
  color: $color-point2;
}
.aboutSubTitle {
  @include response(mobile) {
    font-size: 17px;
  }
}
.about ul {
  padding: 0 0 50px;
  margin: 0;
  @include response(mobile) {
    font-size: 14px;
    padding: 0 0 10px;
  }
}

.about li {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
  @include response(mobile) {
    margin: 0 0 5px;
  }
}

.about li li {
  margin-bottom: 5px;
}
