//  map holding breakpoint values
$breakpoints: (
  mobile: 768px,
  tablet: 991px,
  pc: 1800px,
  pc2: 1640px,
);

//  mixin to print out media queries (based on map keys passed)
@mixin response($keys...) {
  @each $key in $keys {
    @media screen and (max-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
}
